<div class="row">
<div class="col-md-3 order-md-2"></div>
<div class="col-md-6 order-md-2">
<nav class="navbar navbar-expand-lg navbar-dark">
<span class="navbar-text bg-dark">
      <h2>XFrame</h2>
</span>
    <div class="container-fluid">
        <a class="navbar-brand d-none d-lg-inline-block" href="index.html">
            <i class="ion ion-ios-pulse-strong" aria-hidden="true"></i>
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="ion ion-person"></i> View Profile</a></li>
                    <li><a class="dropdown-item" href="#"><i class="ion ion-chatbubbles"></i> Contacts</a></li>
                    <li><a class="dropdown-item" href="#"><i class="ion ion-email"></i> Mailbox</a></li>
                    <li><a class="dropdown-item" href="#"><i class="ion ion-gear-b"></i> Settings</a></li>
                    <li role="separator" class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"><i class="ion ion-log-out"></i> Sign out</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Koszyk</a>
                <div class="dropdown-menu dropdown-md"/>
                    <div class="media-items"/>
                        <div class="media"/>
            </li>
        </ul>
    </div>
    <div class="col-sm-2 d-none d-md-inline-block page-search-wrapper">
        <input type="text" class="form-control form-control-lg keyword-search" placeholder="Search for products">
    </div>
</nav>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a ui-sref="root.info.welcome" ui-sref-active="active">Home</a></li>
    <li role="presentation"><a ui-sref="root.info.about" ui-sref-active="active">O Nas</a></li>
    <li role="presentation"><a href="#">Produkty</a></li>
    <li role="presentation"><a ui-sref="root.info.services" ui-sref-active="active">Serwis</a></li>
    <li role="presentation"><a ui-sref="root.info.contact" ui-sref-active="active">Kontakt</a></li>
</ul>
</div>
</div>